<%= render 'shared/error_messages', obj: @post %>

<%= form_for(@post) do |f| %>
  <div class="field">
      <%= f.label :title %>
    <p>
      <%= f.text_field :title, autofocus: true %>
    </p>
  </div>

  <div class="field">
      <%= f.label :content %>
    <p>
      <%= f.text_area :content %>
    </p>
  </div>

  <div class="field">
      <%= f.label :postimage %>
    <p>
      <%= image_tag(@post.postimage.thumb_error.url) if @post.postimage? %>
      <%= f.file_field :postimage %>
      <%= f.hidden_field :postimage_cache %>
    </p>
  </div>

  <div class="field">
      <%= f.label :status %>
    <p>
      <%= f.select :status, Post.statuses.keys.map{|k| [Post.statuses_i18n[k], k]} %>
    </p>
  </div>

  <div class="actions">
    <%= f.submit yield(:button_text) %>
  </div>
<% end %>
