<!-- ログインをしているユーザーの記事のみ表示 -->
<h1><%= @user.username %> の一覧</h1><hr>
<% @user_post.each do |post| %>
    <h2><%= link_to post.title, user_manage_post_path(post.id)  %></h2>
    <p>本文　：　<%= post.content%></p>
    <p><%= post.created_at.strftime('%Y-%m-%d %H:%M:%S') %></p>
    <p><%= image_tag(post.postimage.thumb.url) if post.postimage?%></p>
    <p><%= time_ago_in_words(post.created_at)%></p>
    <p>状態 : <%= post.status_i18n %></p>
    <p><%= link_to t('edit'), edit_user_manage_post_path(post) %></p>
    <p><%= link_to t('delete'), post_path(post), method: :delete %></p>
    <br><hr>
<% end %>
