<p>日記投稿</p>
<% if @post.errors.any? %>
      The form contains <%= pluralize(@post.errors.count, "error") %>.
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>

<% end %>
<%= form_for(@post) do |f| %>

  <div class="field">
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :content, "本文" %><br />
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :postimage, "画像" %><br />
    <%= f.file_field :postimage %>
  </div>

  <div class="actions">
    <%= f.submit "投稿" %>
  </div>
<% end %>
