
<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<p><%= @post.created_at.strftime('%Y-%m-%d %H:%M:%S') %></p>
<p><%= @post.user.username %></p>
<p><%= image_tag(@post.postimage_url) if @post.postimage?%></p>
<hr>

<%= render 'comments/show' %>
<%= render 'comments/new' %>

<!-- 「コメントを書く」と「表示」を逆にしてeachで回すと「表示」側に空の一覧が作られる -->
